<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>EcoTarefas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="api-banner">
    <h5>💡 Dica Sustentável do Dia</h5>
    <p *ngIf="dicaDoDia">{{ dicaDoDia }}</p>
    <ion-spinner *ngIf="!dicaDoDia" name="dots"></ion-spinner>
  </div>

  <h2 class="section-title">Minhas Atividades</h2>

  <ion-list>
    <app-item-card 
      *ngFor="let item of listaAtividades" 
      [atividade]="item"
      (onEditar)="irParaEditar($event)"
      (onDeletar)="deletarItem($event)">
    </app-item-card>

    <div *ngIf="listaAtividades.length === 0" class="ion-text-center ion-padding">
      <p style="color: #666;">Nenhuma atividade ecológica cadastrada por enquanto. 🌱</p>
    </div>
  </ion-list>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="irParaCriar()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>